{% extends "layout.html" %}

{%block title%} Quiz {%endblock%}

{% block body %}

<div class="flex-container center-center mt-5">
  <h3 id="message" class="px-auto"></h3>
</div>
<div class="flex-container center-center mt-5">   
    <button class="btn btn-success mt-5" id="start" type="button">
      Play!
    </button> 
</div>
<div id="questiondiv">
    <p class="ml-3" id="question"></p>
  <div class="mb-3">
    1. <button class="ml-3 ops" id="op1"></button>
  </div>
  <div class="mb-3">
    2. <button class="ml-3 ops" id="op2"></button>
  </div>
  <div class="mb-3">
    3. <button class="ml-3 ops" id="op3"></button>
  </div>
  <div class="mb-3">
    4. <button class="ml-3 ops" id="op4"></button>
  </div>
</div>
<div id="message"></div>

{% endblock %}